build-stamp
builddir/*
configure-stamp
Makefile
*.o
moc_*
*.moc
keyd/qmkeyd2
libqmsystem2*.so*

debian/files
debian/libqmsystem2-dbg.debhelper.*
debian/libqmsystem2-dbg.substvars
debian/libqmsystem2-dbg/
debian/libqmsystem2-dev.debhelper.*
debian/libqmsystem2-dev.substvars
debian/libqmsystem2-dev/
debian/libqmsystem2-doc.*
debian/libqmsystem2-doc/*
debian/libqmsystem2.debhelper.*
debian/libqmsystem2.postinst.debhelper
debian/libqmsystem2.postrm.debhelper
debian/libqmsystem2.substvars
debian/libqmsystem2/
debian/qmsystem2-api-all-binary-dbg.debhelper.*
debian/qmsystem2-api-all-binary-dbg.substvars
debian/qmsystem2-api-all-binary-dbg/
debian/qmsystem2-api-all-binary.debhelper.*
debian/qmsystem2-api-all-binary.substvars
debian/qmsystem2-api-all-binary/
debian/qmsystem2-api-fast-tests.debhelper.*
debian/qmsystem2-api-fast-tests.substvars
debian/qmsystem2-api-fast-tests/
debian/tmp/
